<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a class="brand">
      <!-- <i class='bx'></i> -->
      <span [ngClass]="{'ms-3': status , 'ms-4' : !status}" class="text">{{status ? "M" : "MATEL S.A.C"}}</span>
    </a>
    <ul class="side-menu top ps-0">
      <ng-container *ngIf="Options != [] && Options.length > 0">
        <ng-container *ngFor="let option of Options">
          <li [ngClass]="{'active': option.active}">
            <a style="cursor: pointer;" (click)="SetPage(option)">
              <i [class]="option.class" ></i>
              <span class="text">{{option.optionDescription}}</span>
            </a>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <ul class="side-menu ps-0">
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->
  
  
  
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu' ></i>
      <a href="#" class="nav-link">Opciones</a>
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>PANEL DE CONTROL</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Panel</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" href="#">{{Title}}</a>
            </li>
          </ul>
        </div>
    </div>
      <app-location></app-location>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->